<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Bem vindo a p&aacute;gina inicial</h1>
		<h2>Mateus, cara de bolacha</h2>

	</body>
</html>